<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="www redirect https" enabled="true" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^[^\.]+\.[^\.]+$" />
                        <add input="{HTTPS}" pattern="on" />
                    </conditions>
                    <action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>